/* Make the whole page take full height and use flex layout */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
    width: 1100px;       /* set a fixed width */
  margin: 0 auto; 
}

/* Content grows to fill available space */
.content {
  flex: 1;
}

/* Footer styles */
#footer {
  background-color: /*#222*/white;
  color: /*#eee*/black;
  text-align: center;
  padding: 10px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;

  user-select: none;
  margin : 0;
}

/* Responsive font size */
@media (max-width: 480px) {
  #footer {
    font-size: 0.9rem;
    padding: 12px 8px;
  }
}