@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 20px;
}

.menu-items {
  display: flex;
  gap: 20px;
}

.menu-items li {
  list-style: none;
}

.menu-items a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem;
  transition: 0.3s;
}

.menu-items a:hover {
  font-weight: bold;
  color: #3b5063;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: #0e2431;
}