<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookLog-Dashboard</title>
    <style >
    	table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns */
    height: 100vh;
}

.grid-item {
    padding: 20px;
    background-color: white; /* Optional background color */
}
    </style>
</head>
<body>
    <div class="container">
    <!-- Left Side of the grid -->
    <div class="grid-item">
        <h1>Dashboard</h1>
    <p>You are seeing this page because you are logged in.</p>
     <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
                {% for data in books %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.author }}</td>
                <td>{{ data.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    </div>

    <!-- Right Side of the grid -->
    <div class="grid-item">Right Panel Content
<h1>Add new book</h1>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}

     <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.book_title.label }}<br>
            {{ form.book_title(size=32) }}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}
        </p>
        <p>
            {{ form.status.label }}  
            {{ form.status }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    </div>
</div>
    
</body>
</html>
