{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	<center>
        <h1>Dashboard</h1><br>
    <a href="{{ url_for('filter_update_delete') }}"><button type="button" class="btn btn-outline-dark">View All</button></a>
    </center>
    <div class="container">
    <!-- Left Side of the grid -->
    <div class="grid-item">
        
     <table id="customers">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
                {% for data in books %}
            <tr>
                <td>{{ data.title }}</td>
                <td>{{ data.author }}</td>
                <td>{{ data.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-danger active">Logout</button></a>
    </div>

    <!-- Right Side of the grid -->
    <div class="grid-item"><!-- Right Panel Content -->
  
{% for message in get_flashed_messages() %}
    <div class="alert">
    <p>{{ message }}</p>
    </div>
    {% endfor %}

     <form method="POST" class="p-4 border rounded shadow-sm">
<center>
<h1>Add new book</h1>
</center>
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.book_title.label(class="form-label") }}<br>
            {{ form.book_title(size=32) }}
        </p>
    
        <p>
            {{ form.author.label(class="form-label")  }}<br>
            {{ form.author(size=32) }}
        </p>
        <p>
            {{ form.status.label }}  
            {{ form.status }}
        </p>
        <center>
        <p>{{ form.submit(class="btn btn-primary btn-block mb-4") }}</p>
    	</center>
    </form>

    </div>
</div>
    
{% endblock %}

