<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookLog-Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>You are seeing this page because you are logged in.</p>
    <table>
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>Book title</th>
    			<th>Author</th>
    			<th>Status</th>
    		</tr>
    	</thead>
    	<tbody>
    			{% for data in books %}
    		<tr>
    			<td>{{ data.id }}</td>
    			<td>{{ data.title }}</td>
    			<td>{{ data.author }}</td>
    			<td>{{ data.status }}</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
</body>
</html>
