{% extends "base.html" %}

{% block title %}Filter data{% endblock %}

{% block content %}
    <a href="{{ url_for('home') }}"><button>Home</button></a>
    <a href="{{ url_for('dashboard') }}"><button>Dashboard</button></a><br>

    <center><h1>Showing All Books</h1></center>
    <div>
    <form action="{{ url_for('filter_update_delete') }}" method="post">
    <label for="filter_data_query">Filter data</label><br>
    <input type="text" id="filter_data_query" name="filter_data_query" placeholder="Looking for something specific?">
    <button type="submit">Submit</button>
    </div>


    <table>
    	 <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                {% for data in books %}
            <tr>
                <td>{{ data.title }}</td>
                <td>{{ data.author }}</td>
                <td>{{ data.status }}</td>
                <td><a href="{{ url_for('update_data', id = data.id) }}">Update</a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
