{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="home-page">
    <center>
    <h1>Welcome to My BookROAD</h1>
    <p>A Book Log to keep track of all your books.</p>
    <a href="{{ url_for('signin') }}"><button type="button" class="btn btn-outline-dark">Start Your Journey</button></a>
    <!-- <a href="{{ url_for('login') }}"><button type="button" class="btn btn-outline-dark">Login</button></a>
    <a href="{{ url_for('dashboard') }}"><button type="button" class="btn btn-outline-dark">Dashboard</button></a> -->
    </center>
    </div>
{% endblock %}