{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
   <center>
    <h3>Login to your account.</h3>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}


     <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
    </div>
    <div class="form-group">
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
    </div>
    <div class="form-group">
        <p>{{ form.submit(class="btn btn-warning") }}</p>
    </div>
    </form>
<a href="{{ url_for('signin') }}"><button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-init  data-mdb-ripple-color="dark">Don't have an account? Sign Up</button></a>
</center>

{% endblock %}
