{% extends "base.html" %}

{% block title %}Signin Page{% endblock %}

{% block content %}
    <h1>SignIn</h1>
    <p>This is the signin page.</p>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <a href="{{ url_for('login') }}"><button>Login</button></a>
    <a href="{{ url_for('home') }}"><button>Home</button></a>
     <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
        	{{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}