{% extends "base.html" %}

{% block title %}Signin Page{% endblock %}

{% block content %}
     <center>
    <h1>SignIn</h1>
    <p id="create-account">Create a new account..</p>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <!-- <a href="{{ url_for('login') }}"><button>Login</button></a>
    <a href="{{ url_for('home') }}"><button>Home</button></a> -->
    
     <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
    </div>
    <div class="form-group">
        <p>
        	{{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
    </div>
    <div class="form-group">
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
    </div>
    <div class="form-group">
        <p>{{ form.submit(class="btn btn-warning") }}</p>
    </div>
    </form>
    <a href="{{ url_for('login') }}"><button class="button-57" role="button"><span class="text">Already have an account?</span><span>Ready to roll? Let’s log you in!</span></button></a>
</center>
{% endblock %}