{% extends "base_loggedin.html" %}

{% block title %}Update{% endblock %}

{% block content %}
<center>
<h1>Update book</h1>

{% for message in get_flashed_messages() %}
    <div class="alert">
    <p>{{ message }}</p>
    </div>
    {% endfor %}

     <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}
        </p>
        <p>
            {{ form.status.label }}  
            {{ form.status }}
        </p>
        <center>
        <p>{{ form.submit(class="btn btn-primary btn-block mb-4") }}</p>
    	</center>
    </form>
</center>

{% endblock %}